<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	
	<resultMap id="memberResultSet" type="Member">
		<id property="userno" column="user_no"/>
		<result property="userid" column="user_id"/>
		<result property="userpwd" column="user_pwd"/>
		<result property="usernm" column="user_nm"/>
		<result property="nickname" column="nick_name"/>
		<result property="birthday" column="birthday"/>
		<result property="gender" column="gender"/>
		<result property="phone" column="phone"/>
		<result property="email" column="email"/>
		<result property="address" column="address"/>
		<result property="country" column="country"/>
		<result property="joindate" column="joindate"/>
		<result property="usernow" column="user_now"/>
		<result property="userlv" column="user_lv"/>
		<result property="etc" column="etc"/>
		<result property="userlock" column="user_lock"/>
	</resultMap>

	<select id="loginMember" parameterType="Member" resultMap="memberResultSet">
		SELECT
			   *
	      FROM MEMBER
	     WHERE USERID = #{ user_id }
	       AND USERLOCK= 'Y'
	</select>

	<insert id="insertMember" parameterType="Member">
		INSERT 
		  INTO MEMBER
		VALUES ( 
				 #{ user_id }
		       , #{ user_pwd }
		       , #{ user_nm }
		       , #{ nick_name }
		       , #{ birthday }
		       , #{ gender }
		       , #{ phone }
		       , #{ email }
		       , #{ country }
		       , sysdate
		       , default
		       , default
		       , null
		       , default		
      	       )
	</insert>
	
	<update id="deleteMember" parameterType="Member">
		UPDATE
		       MEMBER
		   SET USERLOCK='N'
		 WHERE USERID = #{ user_id }
	</update>
	
	<update id="updateMember" parameterType="Member">
		UPDATE 
		       MEMBER
		   SET 
		   	<if test="user_pwd == null">
		       USERPWD = #{ user_pwd },
		    </if>
		       USERPWD = #{ user_pwd },
		       PHONE = #{ phone },
		       <!--  UPDATEDATE = SYSDATE -->
		 WHERE USERID = #{ user_id }  
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="findId" parameterType="Member" resultMap="memberResultSet">
		SELECT
		       *
		  FROM MEMBER
		 WHERE USERNM = #{ user_nm }
		   AND EMAIL = #{ email }
	</select>
	
	<!-- 비밀번호 찾기 -->
	<select id="findPw" parameterType="Member" resultMap="memberResultSet">
		SELECT
		       *
		  FROM MEMBER
		 WHERE USERID = #{ user_id }
		   AND EMAIL = #{ email }
	</select>
	
	<!-- 비밀번호 재설정 -->
	<update id="setTempPw" parameterType="Member">
		UPDATE MEMBER
		   SET
	   USERPWD = #{ user_pwd }
	     WHERE 
	    USERID = #{ user_id }
	</update>
	
	<select id="idCheck" parameterType="string" resultType="_int">
		SELECT
			COUNT(*)
		FROM MEMBER
		WHERE USERID = #{ user_id }
	</select>
	
	
</mapper>